---
import GlobeComponent from "@/components/interactive/Globe";
import Glass from "@/components/Glass.astro";
import { getI18N } from "@/i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---
<script>
    import {animate, inView} from "motion"
    const paises = document.querySelector(".paises")
    const universidades = document.querySelector(".universidades")
    const clientes = document.querySelector(".clientes")

    // @ts-ignore
    inView(paises, ({target}) => {
        setTimeout(() => {
            animate(
                // @ts-ignore
                (progress) => target.innerHTML = Math.round(progress * 9),
                { duration: 1, easing: "ease-out" }
            )
        }, 2000)
    })

    // @ts-ignore
    inView(universidades, ({target}) => {
        setTimeout(() => {
            animate(
                // @ts-ignore
                (progress) => target.innerHTML = Math.round(progress * 5),
                { duration: 1, easing: "ease-out" }
            )
        }, 2500)
    })

    // @ts-ignore
    inView(clientes, ({target}) => {
        setTimeout(() => {
            animate(
                // @ts-ignore
                (progress) => target.innerHTML = Math.round(progress * 113),
                { duration: 2, easing: "ease-out" }
            )
        }, 3000)
    })
</script>

<main>
    <div class="grid grid-cols-1 xl:grid-cols-2 font-satoshi">
        <div class="hidden xl:block inAnimateL opacity-0">
            <GlobeComponent client:load/>
        </div>
        <div class="flex flex-col text-center justify-around lg:h-[500px] inAnimateR opacity-0">
            <h1 class="text-5xl">{i18n.Experience.title}</h1>
            <div class="flex justify-center gap-8">
                <div class="w-28 pt-6 lg:pt-0">
                    <Glass class="p-3 text-3xl paises">0</Glass>
                    <p>{i18n.Experience.countries}</p>
                </div>
                <div class="w-28 pt-6 lg:pt-0">
                    <Glass class="p-3 text-3xl universidades">0</Glass>
                    <p>{i18n.Experience.universities}</p>
                </div>
                <div class="w-28 pt-6 pb-6 lg:p-0">
                    <Glass class="p-3 text-3xl clientes">0</Glass>
                    <p>{i18n.Experience.clients}</p>
                </div>
            </div>
            <div>
                {i18n.Experience.paragraph1}
                <br>
                <br>
                {i18n.Experience.paragraph2}
            </div>
        </div>
    </div>
</main>
