---
import { Des } from '@/lib/constants';
import Footer from '@/components/Footer.astro';

type Props = {
  title: string;
  description?: string;
}

const { title, description} = Astro.props;
// Checar el image para el OG
const image = `${Astro.url.origin}/img/dev/og-image.png`;

/* 
  Comprobamos que estamos obteniendo 'description' como prop, si no regresamos la descripcion main.
  Pero tambien comprobamos que si regresamos como prop 'description' este exista en 'Des'

  We check that we are getting 'description' as a prop; if not, we return the main description. 
  However, we also verify that if we return 'description' as a prop, it exists in 'Des'.
*/
let description_meta: string | undefined
description_meta = !description ? Des.main : ""

const schema = {
  "@context": "http://schema.org",
  "@type": "Person",
  name: "Jonathan Serna",
  url: "https://ecojrsg.dev",
  sameAs: [
    "https://www.instagram.com/eco_jrsg/",
    "https://github.com/JonaJRSG",
  ],
  image: "https://ecojrsg.dev/img/dev/og-image.png",
  jobTitle: "Software Engineering Student",
  nationality: {
    "@type": "Country",
    name: "México",
  },
}

const { currentLocale } = Astro
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description_meta} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description_meta} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta
      property="og:image"
      content={image || "https://ecojrsg.dev/img/dev/og-image.png"}
    />
    <!-- Basic Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={image || "https://ecojrsg.dev/img/dev/og-image.png"}
    />
    <!-- More -->
    <script is:inline type="application/ld+json" set:html={JSON.stringify(schema)} />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="icon" type="image/svg+xml" href="/LOGO.svg">

    <title>{title}</title>
  </head>
  <body>
    <slot/>
    <Footer/>
    <div class="frame"></div>
  </body>
</html>

<style is:global>
  :root {
    --bg-color: #0f1115;
  }
  html {
    background-color: var(--bg-color);
    color-scheme: dark light;
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
    color: white;
  }
  body {
    position: relative;
  }
  @media (min-width: 768px) {
    body {
      zoom: 0.9;
    }
  }
  @media (min-width: 1024px) {
    body {
      zoom: 0.9;
    }
  }
  @media (min-width: 1280px) {
    body {
      zoom: 0.9;
    }
  }
  @media (min-width: 1536px) {
    body {
      zoom: 1;
    }
  }
  .frame {
    position: absolute; /* Cambiado a absolute para que se desplace con el contenido */
    top: 0;
    left: 0;
    min-height: 100%; /* Asegúrate de que cubra todo el contenido */
    width: 100%;
    background-size: 128px;
    background-repeat: repeat;
    background-image: url(/img/dev/textura.png);
    opacity: 0.06;
    border-radius: 0;
    pointer-events: none; /* Permite clics en otros elementos */
    z-index: 100; /* Asegúrate de que esté detrás de otros elementos */
  }
</style>
